<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="static/jquery-1.2.2.pack.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
        <meta charset="UTF-8">
        <title>Japan Map</title>
    </head>
    <body>
        <div id="tip"></div>
        <div id="map" align="center" class="japan">
            <!-- Raphael JS Map Here -->

            <script src="static/raphael-min.js"></script>
            <script src="static/scale.raphael.js"></script>
            <script src="static/map.js"></script>
        </div>
    </body>
</html>
